@mixin set-flex($flex) {
    &[data-flex="#{$flex}"] {
        flex: $flex;
    }
}

@mixin create-flex() {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

@mixin create-inline-flex() {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}