$bgColor1: #191932;
$bgColor2: #0f0f19;
$bgColor3: #0f0f23;
$rgbaBgColor11: rgba(25, 25, 50, 0.1);
$rgbaBgColor12: rgba(25, 25, 50, 0.2);
$rgbaBgColor13: rgba(25, 25, 50, 0.3);
$rgbaBgColor14: rgba(25, 25, 50, 0.4);
$rgbaBgColor15: rgba(25, 25, 50, 0.5);
$rgbaBgColor16: rgba(25, 25, 50, 0.6);
$rgbaBgColor17: rgba(25, 25, 50, 0.7);
$rgbaBgColor18: rgba(25, 25, 50, 0.8);
$rgbaBgColor19: rgba(25, 25, 50, 0.9);
$rgbaBgColor21: rgba(15, 15, 25, 0.1);
$rgbaBgColor22: rgba(15, 15, 25, 0.2);
$rgbaBgColor23: rgba(15, 15, 25, 0.3);
$rgbaBgColor24: rgba(15, 15, 25, 0.4);
$rgbaBgColor25: rgba(15, 15, 25, 0.5);
$rgbaBgColor26: rgba(15, 15, 25, 0.6);
$rgbaBgColor27: rgba(15, 15, 25, 0.7);
$rgbaBgColor28: rgba(15, 15, 25, 0.8);
$rgbaBgColor29: rgba(15, 15, 25, 0.9);
$rgbaBgColor31: rgba(15, 15, 35, 0.1);
$rgbaBgColor32: rgba(15, 15, 35, 0.2);
$rgbaBgColor33: rgba(15, 15, 35, 0.3);
$rgbaBgColor34: rgba(15, 15, 35, 0.4);
$rgbaBgColor35: rgba(15, 15, 35, 0.5);
$rgbaBgColor36: rgba(15, 15, 35, 0.6);
$rgbaBgColor37: rgba(15, 15, 35, 0.7);
$rgbaBgColor38: rgba(15, 15, 35, 0.8);
$rgbaBgColor39: rgba(15, 15, 35, 0.9);

$borderColor1: #333333;

$textColor1: #ffffff;
$textColor2: #aaaaaa;
$textColor3: #727888;

$closeRed: #f44336;